
#left_panel
{
    grid-area: user;
}

#middle_panel
{
    grid-area: canv;
    
}

#right_panel
{
    grid-area: chat;
}

.panel
{
    border-style: solid;
    border-color: blue;
    margin: 10px;
    padding: 10px;
}

.container
{
    border-style: solid;
    border-color: red;
    padding: 0px;
    margin-bottom: 5px;

    margin-left: 0px;
    margin-right: 0px;

    overflow: auto;
    scrollbar-base-color: gold;


}


#chat
{
    display: grid;
    grid-template-rows:
        15%
        70%
        15%
        ;
}

.chat_bar
{
    border-style: none;
    border-color: grey;
    padding: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;

    display: grid;
    grid-template-columns: 
        1fr
    ;
    grid-template-areas:
        "user content"
    ;

}

.chat_user_name, .chat_content
{
    border-style: dotted;
    border-color: grey;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
}
.chat_user_name
{
    grid-area: user;
    justify-self: stretch;
    align-self: center;
}
.chat_content
{
    grid-area: content;
    justify-self: start;
}

/*
.chat_content
{
    border-style: dotted;
    border-color: white;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
}*/

#chat_submit
{
    border-style: dotted;
    border-color: grey;
    padding: 2px;
    margin: 2px;

}
#chat_form
{
    display: grid;
    grid-template-columns:
        1fr
        100px
    ;

    grid-template-areas:
        "textbox send_but"
        ;
}

#chat_form_text
{
    resize: none;
    grid-area: textbox;
    width: auto;
}
#chat_form_button
{
    grid-area: send_but;
}

canvas
{
    background: white;
}


